<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reclye</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <!-- <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" /> -->
        <img src="https://toppng.com/public/uploads/preview/cool-avatar-transparent-image-cool-boy-avatar-11562893383qsirclznyw.png" />

      </ion-avatar>
      <ion-label>
        <h1>Igboanu Uchenna</h1>
        <p>Gathered: <span class="money">₦ 15,000</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>